body{
    width: 400px;
    margin: 0 auto;
}

.one{
    background-color: orange;
    border: 25px solid red;
    padding: 10px;
    margin: 10px;
}

.two{
    background-color: purple;
    border: 5px solid green;
    margin-bottom: 10px;
}

.three{
      background-color: yellow;
      border: 25px solid palevioletred;
      padding: 30px;
      margin-left: 10px;
}